# Eclipsegit
.project
.buildpath
.settings
Scripts
/.dbeaver-data-sources.xml
# Netbeans
nbproject/*
# Logs & dump
*.log
# Liens Symboliques
# Temp
*.bak
# Fichiers compiles
*.swf
# Fichiers specifiques a chaque install
param.xml
lzl/param.xml
# Fichiers specifiques a un utilisateur
#Eclipse Synchro, laisser ces lignes à la fin du fichier ( très important )
*.ptp-sync-folder
/.ptp-sync/

#VScode
.vscode
localtime
.env
**/*.env
**/*.keytab
**/*.old
**/*.bak
**/*.pem
dump

# Local .terraform directories
**/.terraform/*

.terraform*
# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log

# Exclude all .tfvars files, which are likely to contain sentitive data, such as
# password, private keys, and other secrets. These should not be part of version 
# control as they are data points which are potentially sensitive and subject 
# to change depending on the environment.
#
# *.tfvars

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Include override files you do wish to add to version control using negated pattern
#
# !example_override.tf

# Include tfplan files to ignore the plan output of command: terraform plan -out=tfplan
# example: *tfplan*

# Ignore CLI configuration files
.terraformrc
terraform.rc
.terraform.lock.hcl
*.tfoff

# Ignore MacOS
.DS_Store
/.idea/
.env
*.zip
**/.*
front.tf
